@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    scroll-behavior: smooth !important;
    @apply h-full;
  }

  body {
    scroll-behavior: smooth !important;
    @apply bg-white;
  }

  ::-webkit-scrollbar {
    @apply w-[0.5rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-dark;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-[#4e535a];
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}
